.nav_container{
  position:relative;
top: -1030px;
left: 20%;
}

.ul_container{
    padding: 0 0 5rem 10rem;
}

.li_container{
    list-style: none;
    float: left;
    margin: 0.2rem;
    text-align: center;
}

.li_container button{
    color: #eeede7;
    background-color: rgb(174, 177, 18);
    width: 2.5rem;
    padding: 0.8rem 0.8rem;
    border-radius: 30%;
    border: 1px solid #575025;
    text-align: center;
}

.li_container button:hover{
    background-color: rgb(18, 100, 29);
    color: #eeede7;
    border-color: rgb(99, 100, 18);

}
